.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    border: 1px solid #000000;
    text-align: center;
    font-size: 13px;
}

.table td:first-child {
    width: 63%;
    padding: 5px 0;
    text-transform: capitalize;
}

.table td:last-child {
    width: 27%;
    text-transform: capitalize;
}

@media screen and (max-width: 576px) {
    .table td {
        font-size: 10px;
    }
}